<!DOCTYPE html>
<html>
<head>
    <title>Your Personal Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('views.home') }}">Home</a></li>
                <li><a href="{{url_for('views.about') }}">About</a></li>
                <li><a href="{{url_for('views.projects') }}">Projects</a></li>
                <li><a href="{{url_for('views.contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Your Name</p>
    </footer>
</body>
</html>